/*
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
} 

ul a {
	border: 1px solid red;
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
}
a:hover {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}

#home #navegaçao .home a,
#sobre #navegaçao .sobre a, 
#serviços #navegaçao .servicos a,
#noticias #navegaçao .noticias a,
#contato #navegaçao .contato a, {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
} */
/* fim barra vertical*/

/*inicio barra navegaçao horizontal*/

ul { 
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
	background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
	float: left;
}

ul li {
	float: left;
}

ul a {
	display: block;
	padding: 0 2em;
	line-height: 2.2em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) repeat-y left top;
}

ul .primeiro a {
	background: none;
}

ul a:hover {
	color: #085662;
	background: #44cade;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a, 
#servicos #navegacao .servicos a {
	background-position: right bottom;
	color: #085662;
	background: #44cade;
} 